@charset "utf-8";
.emoji{/* システム名など、一部文字に変換された絵文字の色 */
    /* TPRGシステムネーム */
    &.e-2401::before{content:"2401"; color:var(--system)}
    &.e-5e::before{content:"5ERPG"; color:var(--system)}
    &.e-ainecadette::before{content:"エネカデット"; color:var(--system)}
    &.e-aka_to_kuro::before{content:"赤と黒"; color:var(--system)}
    &.e-amadeus::before{content:"アマデウス"; color:var(--system)}
    &.e-animaanimus::before{content:"アニムアニムス"; color:var(--system)}
    &.e-arianrhod::before{content:"ARA"; color:var(--system)}
    &.e-arianrhodrpg2erev::before{content:"AR2E改訂版"; color:var(--system)}
    &.e-ayabito::before{content:"あやびと"; color:var(--system)}
    &.e-bakenokawa::before{content:"バケノカワ"; color:var(--system)}
    &.e-BBT::before{content:"BBT"; color:var(--system)}
    &.e-beginningidol::before{content:"ビギドル"; color:var(--system)}
    &.e-blade_of_arcana::before{content:"ブレカナ"; color:var(--system)}
    &.e-blind_mythos_RPG::before{content:"ブラインド・ミトスRPG"; color:var(--system)}
    &.e-blocru::before{content:"ブラクル"; color:var(--system)}
    &.e-blomon::before{content:"ブラムン"; color:var(--system)}
    &.e-bloodpath::before{content:"ブラッドパス"; color:var(--system)}
    &.e-cardranker::before{content:"カドラン"; color:var(--system)}
    &.e-CharonSanctions::before{content:"カローンサンクションズ"; color:var(--system)}
    &.e-clamp_gakuen::before{content:"CLAMP学園TRPG"; color:var(--system)}
    &.e-CoC::before{content:"CoC"; color:var(--system)}
    &.e-coc_5::before{content:"CoC5版"; color:var(--system)}
    &.e-coc_6::before{content:"CoC6版"; color:var(--system)}
    &.e-coc_7::before{content:"CoC7版"; color:var(--system)}
    &.e-comes::before{content:"カムズ"; color:var(--system)}
    &.e-convictordrive::before{content:"コンヴィクター・ドライブ"; color:var(--system)}
    &.e-cpred::before{content:"CPRED"; color:var(--system)}
    &.e-darkdaysdrive::before{content:"ダークデイズドライブ"; color:var(--system)}
    &.e-DD::before{content:"D&D"; color:var(--system)}
    &.e-DeadlineHeros::before{content:"デッドラインヒーローズ"; color:var(--system)}
    &.e-deadman::before{content:"デッドマン・ウォーキング"; color:var(--system)}
    &.e-demonspike::before{content:"デモスパ"; color:var(--system)}
    &.e-dialect::before{content:"ダイアレクト"; color:var(--system)}
    &.e-DiceBot::before{content:"BC Dice"; color:var(--system)}
    &.e-dnd5e::before{content:"D&D5版"; color:var(--system)}
    &.e-dracurouge::before{content:"ドラクルージュ"; color:var(--system)}
    &.e-DX::before{content:"DX3rd"; color:var(--system)}
    &.e-emoklore::before{content:"エモクロア"; color:var(--system)}
    &.e-EOTP::before{content:"アイズオン・ザプライズ"; color:var(--system)}
    &.e-FF14TTRPG::before{content:"FF14TTRPG"; color:var(--system)}
    &.e-fiasco::before{content:"フィアスコ"; color:var(--system)}
    &.e-futarisousa::before{content:"フタリソウサ"; color:var(--system)}
    &.e-gardenorder::before{content:"ガーデンオーダー"; color:var(--system)}
    &.e-gehenna::before{content:"ゲヘナ"; color:var(--system)}
    &.e-GH02::before{content:"ゴーストハンターRPG"; color:var(--system)}
    &.e-grancrest::before{content:"グランクレスト"; color:var(--system)}
    &.e-guilty::before{content:"ギルティウィッチーズ"; color:var(--system)}
    &.e-gundog::before{content:"GUNDOG"; color:var(--system)}
    &.e-gurps::before{content:"GURPS"; color:var(--system)}
    &.e-haiirojo_kitan::before{content:"灰色城綺譚"; color:var(--system)}
    &.e-hakoniwasousei::before{content:"箱庭双世"; color:var(--system)}
    &.e-hashiranokami::before{content:"ハシラノカミ"; color:var(--system)}
    &.e-hatsunemiku_TRPG_d::before{content:"初音ミクTRPGココロダンジョン"; color:var(--system)}
    &.e-hatsunemiku_TRPG_s::before{content:"初音ミクTRPGココロセッション"; color:var(--system)}
    &.e-huntem::before{content:"ハンタム"; color:var(--system)}
    &.e-hyakkiyasyou::before{content:"百鬼夜翔"; color:var(--system)}
    &.e-ififif::before{content:"イフイフイフ"; color:var(--system)}
    &.e-infinite_babel::before{content:"InfiniteBablL"; color:var(--system)}
    &.e-inSANe::before{content:"インセイン"; color:var(--system)}
    &.e-invisibleliar::before{content:"魔導書閲読インビジブルライアー"; color:var(--system)}
    &.e-juin::before{content:"呪印感染"; color:var(--system)}
    &.e-kamigakari::before{content:"神我狩"; color:var(--system)}
    &.e-kamitsubaki_narrative::before{content:"神椿市建設中。NARRATIVE"; color:var(--system)}
    &.e-kankorerpg::before{content:"艦これRPG"; color:var(--system)}
    &.e-karukami::before{content:"異神討伐RPGカルカミ"; color:var(--system)}
    &.e-kedaope::before{content:"ケダモノオペラ"; color:var(--system)}
    &.e-kemononomori::before{content:"獸ノ森"; color:var(--system)}
    &.e-killdeath::before{content:"キルデス"; color:var(--system)}
    &.e-kimitoyell::before{content:"キミトエール！"; color:var(--system)}
    &.e-kizunabullet::before{content:"キズナバレット"; color:var(--system)}
    &.e-kizunabullet2::before{content:"キズナバレット"; color:var(--system)}
    &.e-kokorodungeon::before{content:"ココロダンジョン"; color:var(--system)}
    &.e-kotonoke::before{content:"コトノケ草子"; color:var(--system)}
    &.e-kurayami_crying::before{content:"クラヤミクライン"; color:var(--system)}
    &.e-kutulu::before{content:"kutulu"; color:var(--system)}
    &.e-kyokoshinshoku::before{content:"虚構侵蝕"; color:var(--system)}
    &.e-liminal::before{content:"Liminal"; color:var(--system)}
    &.e-lmitball::before{content:"リミットボール"; color:var(--system)}
    &.e-LOGHORIZON::before{content:"LogHorizonTRPG"; color:var(--system)}
    &.e-lost_royal::before{content:"ロストロイヤル"; color:var(--system)}
    &.e-Madamisu::before{content:"マダミス"; color:var(--system)}
    &.e-magirogi::before{content:"マギロギ"; color:var(--system)}
    &.e-mamoble::before{content:"マモブル"; color:var(--system)}
    &.e-marinechulife::before{content:"まりんちゅライフ！"; color:var(--system)}
    &.e-mayokin::before{content:"迷宮キングダム"; color:var(--system)}
    &.e-meikyudays::before{content:"迷宮デイズ"; color:var(--system)}
    &.e-mimakari::before{content:"身罷り"; color:var(--system)}
    &.e-monomyu::before{content:"モノミュ"; color:var(--system)}
    &.e-morkborg::before{content:"MORKBORG"; color:var(--system)}
    &.e-MurderMystery::before{content:"マーダーミステリー"; color:var(--system)}
    &.e-nekuronika::before{content:"ネクロニカ"; color:var(--system)}
    &.e-nevercloud::before{content:"ネバークラウド"; color:var(--system)}
    &.e-neverlatenighters::before{content:"ネバーレイトナイターズ"; color:var(--system)}
    &.e-NINJASLAYER_TRPG::before{content:"ニンジャスレイヤーTRPG"; color:var(--system)}
    &.e-nobunaga::before{content:"信長の黒い城"; color:var(--system)}
    &.e-nova::before{content:"NOVA"; color:var(--system)}
    &.e-NOVA_gila::before{content:"NOVA"; color:var(--system)}
    &.e-nuekagami::before{content:"鵺鏡"; color:var(--system)}
    &.e-oyaasu::before{content:"おや明日"; color:var(--system)}
    &.e-oyaasu2::before{content:"おやすみ、また明日。"; color:var(--system)}
    &.e-paranoia::before{content:"パラノイア"; color:var(--system)}
    &.e-picaroma::before{content:"ピカロマ"; color:var(--system)}
    &.e-pikabu::before{content:"ピーカーブー"; color:var(--system)}
    &.e-praybyletter::before{content:"プレイバイレター"; color:var(--system)}
    &.e-rozikuro::before{content:"ロジウラフォークロア"; color:var(--system)}
    &.e-runal::before{content:"GURPSルナル"; color:var(--system)}
    &.e-ryutama::before{content:"りゅうたま"; color:var(--system)}
    &.e-sajinsenki::before{content:"砂塵戦機A:GUS"; color:var(--system)}
    &.e-satasupe::before{content:"サタスペ"; color:var(--system)}
    &.e-seikainosukauto::before{content:"青灰のスカウト"; color:var(--system)}
    &.e-sekaiju::before{content:"せかいじゅごはん"; color:var(--system)}
    &.e-shinobigami::before{content:"シノビガミ"; color:var(--system)}
    &.e-shumatsukikou::before{content:"終末紀行"; color:var(--system)}
    &.e-skynauts::before{content:"歯車の塔の探空士"; color:var(--system)}
    &.e-solo_journal::before{content:"ソロジャーナル"; color:var(--system)}
    &.e-starrydolls::before{content:"スタリィドール"; color:var(--system)}
    &.e-stellarknights::before{content:"銀剣のステラナイツ"; color:var(--system)}
    &.e-storyteller::before{content:"ストリテラ"; color:var(--system)}
    &.e-stratoshout::before{content:"ストラトシャウト"; color:var(--system)}
    &.e-SW::before{content:"SW"; color:var(--system)}
    &.e-SW2_0::before{content:"SW2.0"; color:var(--system)}
    &.e-SW2_5::before{content:"SW2.5"; color:var(--system)}
    &.e-syoujo_tenrankai::before{content:"少女展爛会"; color:var(--system)}
    &.e-tandt::before{content:"T&T"; color:var(--system)}
    &.e-tasyounoen::before{content:"多生ノ縁"; color:var(--system)}
    &.e-tenkaryoran::before{content:"天下繚乱"; color:var(--system)}
    &.e-tensaigunshi::before{content:"天才軍師になろう"; color:var(--system)}
    &.e-tenshi_raisan::before{content:"天使礼賛"; color:var(--system)}
    &.e-theloop::before{content:"ザ・ループ"; color:var(--system)}
    &.e-the_one_ring::before{content:"TheOneRing"; color:var(--system)}
    &.e-tokyoghostresearch::before{content:"東京ゴーストリサーチ"; color:var(--system)}
    &.e-tokyonightmare::before{content:"トーキョーナイトメア"; color:var(--system)}
    &.e-trail_of_cthulhu::before{content:"トレイル・オブ・クトゥルー"; color:var(--system)}
    &.e-tsukumotsumugi::before{content:"ツクモツムギ"; color:var(--system)}
    &.e-twilightgunsmoke::before{content:"TwilightGunsmoke"; color:var(--system)}
    &.e-unsungduet::before{content:"アンサングデュエット"; color:var(--system)}
    &.e-utakata::before{content:"詩片のアルセット"; color:var(--system)}
    &.e-utakaze::before{content:"ウタカゼ"; color:var(--system)}
    &.e-Warhammer::before{content:"WarHammer"; color:var(--system)}
    &.e-yorunoasiato::before{content:"夜のあしあと"; color:var(--system)}
    &.e-youmayakou::before{content:"GURPS妖魔夜行"; color:var(--system)}
    &.e-yuukoya::before{content:"ゆうこや"; color:var(--system)}
    &.e-yy::before{content:"ヤンヨグ"; color:var(--system)}
    &.e-airget_lamh::before{content:"朱の孤塔のエアゲトラム"; color:var(--system)}
    &.e-avandner::before{content:"黒絢のアヴァンドナー"; color:var(--system)}
    &.e-bellfahle_magic_school::before{content:"ベルファール魔法学園"; color:var(--system)}
    &.e-black_jacket::before{content:"ブラックジャケット"; color:var(--system)}
    &.e-colossal_hunter::before{content:"コロッサルハンター"; color:var(--system)}
    &.e-floria::before{content:"翠緑のフローリア"; color:var(--system)}
    &.e-gaiacare::before{content:"ガイアケア"; color:var(--system)}
    &.e-garden_order_re::before{content:"ガーデンオーダーRe"; color:var(--system)}
    &.e-gorilla_trpg::before{content:"ゴリラTRPG"; color:var(--system)}
    &.e-hitotsu_yaneno_bokura::before{content:"ひとつ屋根の僕ら"; color:var(--system)}
    &.e-liveradoll::before{content:"紫縞のリヴラドール"; color:var(--system)}
    &.e-lost_record::before{content:"ロストレコード"; color:var(--system)}
    &.e-marginal_heroes::before{content:"マージナルヒーローズ"; color:var(--system)}
    &.e-metamor_fortune::before{content:"メタモルフォーチュン"; color:var(--system)}
    &.e-monster_maker::before{content:"モンスターメーカー"; color:var(--system)}
    &.e-nRR::before{content:"nRR"; color:var(--system)}
    &.e-omajina_super_sesson::before{content:"おまじな大饗宴"; color:var(--system)}
    &.e-paradiso::before{content:"チェレステ色のパラディーゾ"; color:var(--system)}
    &.e-princess_wing::before{content:"プリンセスウィング"; color:var(--system)}
    &.e-pripara_trpg::before{content:"プリパラTRPG"; color:var(--system)}
    &.e-ruinbreakers::before{content:"ルーインブレイカーズ"; color:var(--system)}
    &.e-unbaba::before{content:"ウンババウバッホラオラオハー"; color:var(--system)}
    &.e-villains_quest::before{content:"ヴィランズクエスト"; color:var(--system)}
    &.e-wareragaounomimakarite::before{content:"我らが王の身罷りて"; color:var(--system)}
    &.e-witch_quest::before{content:"ウィッチクエスト"; color:var(--system)}


    &.e-coc_6::before{content:"CoC6"; color: brown;}
    &.e-coc_7::before{content:"CoC7"; color: brown;}
    &.e-coc_5::before{content:"CoC5"; color:brown;}
    &.e-inSANe::before{content:"インセイン"; color: #333;}
    &.e-CoC::before{content:"CoC"; color: brown;}
    &.e-emoklore::before{content:"エモクロア"; color:#73e2e9;}
    &.e-shinobigami::before{content:"シノビガミ"; color:#fff; background: #000;}
    &.e-magirogi::before{content:"マギロギ"; color:#ee82ee}
    &.e-DX::before{content:"ダブルクロス"; color:#c00;}
    &.e-yorunoasiato::before{content:"夜のあしあと"; color:#222; background-color: #bbc8e6;}
    &.e-futarisousa::before{content:"フタリソウサ"; color:#eb9b6f}

    /* かな系 */
    &.e-kana_a::before{content:"あ"; color:var(--kana);}
    &.e-kana_chi::before{content:"ち"; color:var(--kana);}
    &.e-kana_e::before{content:"え"; color:var(--kana);}
    &.e-kana_fu::before{content:"ふ"; color:var(--kana);}
    &.e-kana_ha::before{content:"は"; color:var(--kana);}
    &.e-kana_he::before{content:"へ"; color:var(--kana);}
    &.e-kana_hi::before{content:"ひ"; color:var(--kana);}
    &.e-kana_ho::before{content:"ほ"; color:var(--kana);}
    &.e-kana_i::before{content:"い"; color:var(--kana);}
    &.e-kana_ka::before{content:"か"; color:var(--kana);}
    &.e-kana_ke::before{content:"け"; color:var(--kana);}
    &.e-kana_ki::before{content:"き"; color:var(--kana);}
    &.e-kana_ko::before{content:"こ"; color:var(--kana);}
    &.e-kana_ku::before{content:"く"; color:var(--kana);}
    &.e-kana_ma::before{content:"ま"; color:var(--kana);}
    &.e-kana_me::before{content:"め"; color:var(--kana);}
    &.e-kana_mi::before{content:"み"; color:var(--kana);}
    &.e-kana_mo::before{content:"も"; color:var(--kana);}
    &.e-kana_mu::before{content:"む"; color:var(--kana);}
    &.e-kana_n::before{content:"ん"; color:var(--kana);}
    &.e-kana_na::before{content:"な"; color:var(--kana);}
    &.e-kana_ne::before{content:"ね"; color:var(--kana);}
    &.e-kana_ni::before{content:"に"; color:var(--kana);}
    &.e-kana_no::before{content:"の"; color:var(--kana);}
    &.e-kana_nu::before{content:"ぬ"; color:var(--kana);}
    &.e-kana_o::before{content:"お"; color:var(--kana);}
    &.e-kana_ra::before{content:"ら"; color:var(--kana);}
    &.e-kana_re::before{content:"れ"; color:var(--kana);}
    &.e-kana_ri::before{content:"り"; color:var(--kana);}
    &.e-kana_ro::before{content:"ろ"; color:var(--kana);}
    &.e-kana_ru::before{content:"る"; color:var(--kana);}
    &.e-kana_sa::before{content:"さ"; color:var(--kana);}
    &.e-kana_se::before{content:"せ"; color:var(--kana);}
    &.e-kana_shi::before{content:"し"; color:var(--kana);}
    &.e-kana_so::before{content:"そ"; color:var(--kana);}
    &.e-kana_su::before{content:"す"; color:var(--kana);}
    &.e-kana_ta::before{content:"た"; color:var(--kana);}
    &.e-kana_te::before{content:"て"; color:var(--kana);}
    &.e-kana_to::before{content:"と"; color:var(--kana);}
    &.e-kana_tsu::before{content:"つ"; color:var(--kana);}
    &.e-kana_u::before{content:"う"; color:var(--kana);}
    &.e-kana_wa::before{content:"わ"; color:var(--kana);}
    &.e-kana_wo::before{content:"を"; color:var(--kana);}
    &.e-kana_wye::before{content:"ゑ"; color:var(--kana);}
    &.e-kana_wyi::before{content:"ゐ"; color:var(--kana);}
    &.e-kana_ya::before{content:"や"; color:var(--kana);}
    &.e-kana_yo::before{content:"よ"; color:var(--kana);}
    &.e-kana_yu::before{content:"ゆ"; color:var(--kana);}
    &.e-ru::before{content:"る"; color:var(--kana);}
    &.e-yu::before{content:"ゆ"; color:var(--kana);}
}